'scopeName': 'source.fluka'
'name': 'fluka'
'fileTypes': ['inp', 'fluka']
'foldingStartMarker': '\{\s*$'
'foldingStopMarker': '^\s*\}'

'patterns': [
	{
	'match':'^\\b(?i:ASSIGNMA|AUXSCORE|BAMJET|BEAMAXES|BEAMPOS|BEAM|BIASING|
    BME|COMMENT|COMPOUND|CORRFACT|DCYSCORE|DCYTIMES|DEFAULTS|DELTARAY|
	DETECT|DISCARD|DPMJET|DPM-PARA|ELCFIELD|EMFCUT|EMFFIX|EMFFLUO|EMFRAY|
	EMF|EMF-BIAS|EVENTBIN|EVENTDAT|EVENTYPE|EVXTEST|EXPTRANS|FLUKAFIX|FIXED|
	FREE|GEOBEGIN|GEOEND|GLOBAL|HI-PROPE|IONFLUCTIRRPROFI|LAM-BIAS|
	LATTICE|LOW-BIAS|LOW-DOWN|LOW-MAT|LOW-NEUT|MAT-PROP|MATERIAL|
	MCSTHRES|MGNFIELD|MULSOPT|MUPHOTON|MYRQMD|OPEN|OPT-PROD|
	OPT-PROP|PAIRBREM|PART-THR|PHOTONUC|PHYSICS|PLOTGEOM|
	POLARIZA|POLARIZA|RADDECAY|RANDOMIZ|RESNUCLE[ iI]|
	ROT-DEFI|ROTPRBIN|RQMD|SCORE|SOURCE|START|STEPSIZE|
	STERNHEI|STOP|TCQUENCH|THRESHOL|TIME-CUT|TITLE|
	USERDUMP|USERWEIG|USERWEIG|USRBDX|USRBIN|USRCOLL|USRICALL|
	USRGCALL|USROCALL|USRTRACK|USRYIELD|WW-FACTO|WW-PROFI|WW-THRES)\\b'
	'name': 'keyword.flukacard.fluka'
	}
	{
	'match':'^\\#DEFINE|\\#define\\b'
	'name':'keyword.control.fluka'
	}
	{
    'begin': '\''
    'end': '\''
    'name': 'string.quoted.single.fluka'
    }
	{	
	'match': '\\*.*$\\n'
	'name': 'comment.fluka'
	}
]	




